<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        WithU
    </title>
    {% load static %}<link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}{% endblock style %}
    {% block script %}{% endblock script %}
</head>
<body>
    <!-- 헤더 -->
    <header class="site-header">
      <nav class="nav-container">
          <div class="nav-left">
              <a href="/" class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                  <img src="{% static 'img/home.png' %}" alt="홈" class="nav-icon {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                  <span>홈</span>
              </a>

              <a href="/lifestyle" class="nav-item {% if request.resolver_match.url_name == 'lifestyle' %}active{% endif %}">
                  <img src="{% static 'img/book.png' %}" alt="라이프스타일" class="nav-icon {% if request.resolver_match.url_name == 'lifestyle' %}active{% endif %}">
                  <span>생활양식</span>
              </a>

              <a href="/society" class="nav-item {% if request.resolver_match.url_name == 'society' %}active{% endif %}">
                  <img src="{% static 'img/people.png' %}" alt="사회" class="nav-icon {% if request.resolver_match.url_name == 'society' %}active{% endif %}">
                  <span>사회</span>
              </a>

              <a href="/emotional" class="nav-item {% if request.resolver_match.url_name == 'emotional' %}active{% endif %}">
                  <img src="{% static 'img/heart.png' %}" alt="감정 지원" class="nav-icon {% if request.resolver_match.url_name == 'emotional' %}active{% endif %}">
                  <span>정서적 지원</span>
              </a>

              <a href="/health" class="nav-item {% if request.resolver_match.url_name == 'health' %}active{% endif %}">
                  <img src="{% static 'img/guard.png' %}" alt="건강과 안전" class="nav-icon {% if request.resolver_match.url_name == 'health' %}active{% endif %}">
                  <span>건강 및 안전</span>
              </a>

              <a href="/community" class="nav-item {% if request.resolver_match.url_name == 'community' %}active{% endif %}">
                  <img src="{% static 'img/people.png' %}" alt="커뮤니티" class="nav-icon {% if request.resolver_match.url_name == 'community' %}active{% endif %}">
                  <span>게시판</span>
              </a>

              <a href="/citizen" class="nav-item {% if request.resolver_match.url_name == 'citizen' %}active{% endif %}">
                  <img src="{% static 'img/upload.png' %}" alt="시민 참여" class="nav-icon {% if request.resolver_match.url_name == 'citizen' %}active{% endif %}">
                  <span>시민 참여</span>
              </a>

              <a href="/local" class="nav-item {% if request.resolver_match.url_name == 'local' %}active{% endif %}">
                  <img src="{% static 'img/marker.png' %}" alt="지역 정보" class="nav-icon {% if request.resolver_match.url_name == 'local' %}active{% endif %}">
                  <span>지역 정보</span>
              </a>
          </div>
        </nav>
    </header>


    <!-- 메인내용 -->
    <main>
        {% block body %}


        {% endblock body %}
    </main>

    <!-- 푸터 -->
    <footer class="site-footer">
        <div class="footer-top">
            <div class="footer-left">
                <p>Until everyone can enjoy life information and experiences to anyone,</p>
            </div>

            <div class="footer-columns">
                <div class="footer-col">
                    <h4>Team WithU</h4>
                    <ul>
                        <li>강은채(FE)</li>
                        <li>김명서(FE)</li>
                        <li>서해인(BE)</li>
                        <li>조다빈(BE)</li>
                        <li>허윤아(FE)</li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Thanks To</h4>
                    <ul>
                        <li>Duksung</li>
                        <li>OpenAI</li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contact</h4>
                    <ul>
                        <li>WithU@gmail.com</li>
                        <!--이메일이 실제로 존재하진 않숩니다..추후에 서비스가 커지면 만들겠다는 식으로 말씀드립시다-->
                        <li><a href="https://github.com/gjdbsdk/With_U.git">Github</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Legal</h4>
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="footer-bottom">
            <p>© 2025 Duksung University - Department Of Digital Software Engineering [ W:Hack ] </p>
        </div>
    </footer>
</body>
</html>
