<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WithU</title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/detail.css' %}">
  <script defer src="{% static 'js/detail.js' %}"></script>
</head>
<body>

  <section class="detail-container">
    <div class="detail-top">
      <a href="javascript:history.back()" class="back-btn">
        <img src="{% static 'img/toprev.png' %}" alt="" class="toprev">
        콘텐츠로 돌아가기
      </a>
      <a href="{% url 'frontend:home' %}" class="hub-link">
        <div class="hubicon">
            <img src="{% static 'img/whitebook.png' %}" alt="" class="toprev">
        </div>
        콘텐츠 허브
    </a>
    </div>

    <div class="contentzone">
        <div class="detail-body">
        <div id="detail-title"></div>
        <div id="detail-text"></div>

        <div class="video-wrapper">
            <iframe
            id="youtube-frame"
            src=""
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen
            ></iframe>
        </div>
        </div>
    </div>
  </section>

</body>
</html>
